<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/CSS/Masterlayout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
    <div id="main">
        <!-- Begin Header -->
        <div id="header">
            <div class="Header_top">
                <a href="#">
                    <div class="Flex_BG_Top">
                        <div class="Text_Header_top">
                            <p>Freeship đơn từ 45k, giảm nhiều hơn cùng</p>
                        </div>

                        <img src="~/Content/img/Header_top_logo.png" class="Logo_Header_top" />
                    </div>
                </a>
            </div>

            <div class="Header_Middle">
                <div class="container">
                    <div class="Flex_BG_Middle">

                        <div class="Logo_Header_Middle">
                            <a href="#" class="Link_Logo_Middle">

                                <div class="Logo_Text">
                                    <img src="~/Content/img/Logo_Header_Middle.png" class="Tiki_Middle_Logo" />
                                    <span> Giao Hàng Nhanh</span>
                                </div>

                            </a>
                        </div>


                        <div class="navigation_Items">
                            <div class="Navigation_Top">
                                <div class="Finding_Product">
                                    <form action="#" method="post" class="form_Header_Middle">
                                        <img class="logoIconSearch_navigation_Headder_middle" />
                                        <input type="text" class="Text_Commit_Navigation_Top" />
                                        <button type="button" class="btn_Finding_Middle_Navigation_Top">
                                            Tìm Kiếm
                                        </button>
                                    </form>
                                </div>

                                <div class="Register_navigation">
                                    <div class="Home Dflex_Navigation_Top_Register">
                                        <i class="fas fa-home HomeIcon_Middle"></i>
                                        <a href="#" class="Link_To_Home">Trang Chủ</a>
                                    </div>

                                    <div class="Login Dflex_Navigation_Top_Register">
                                        <i class="far fa-smile-wink Account_Icon"></i>
                                        <span>Tài khoản</span>
                                    </div>


                                    <div class="ShoppingCart">
                                        <a href="" class="Link_To_Shop_Cart">
                                            <div class="Icon_Figure_Shopping_Cart Dlex">
                                                <div class="Inside_Icon">
                                                    <i class="fas fa-shopping-cart Main_Icon_Cart"></i>
                                                    <span class="Icon_Count_Items_Buy">0</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="Navigation_bottom">
                                <div class="Left_Navigation_Bottom">
                                    <div class="Navigation_Bottom_Items ">
                                        <a href="" class="items">
                                            Điện gia dụng
                                        </a>

                                        <a href="" class="items">
                                            Xe cộ
                                        </a>

                                        <a href="" class="items">
                                            mẹ & bé
                                        </a>

                                        <a href="" class="items">
                                            khỏe đẹp
                                        </a>

                                        <a href="" class="items">
                                            nhà cửa
                                        </a>

                                        <a href="" class="items">
                                            sách
                                        </a>

                                        <a href="" class="items">
                                            thể thao
                                        </a>

                                        <a href="" class="items">
                                            nồi cơm điện cookco
                                        </a>
                                    </div>
                                </div>

                                <div class="right_Navigation_Bottom">
                                    <div class="Delivery_Zone">
                                        <i class="fas fa-map-marker Marker_Icon"></i>
                                        <h4 class="Title">Giao đến:</h4>
                                        <div class="Address">Q. 1, P. Bến Nghé, Hồ Chí Minh</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header -->
        <!-- Begin Sologan_Layout -->
        <div class="Sologan_BG">
            <a href="" class="Content_Sologan">
                <div class="approve">Cam kết</div>
                <div class="items_Sologan">
                    <div class="items">

                        <img src="~/Content/img/Approve_IMG.png" alt="" style="height: 20px; width: 20px;">

                        <div style="color: #27272a; font-size: 15px;font-weight: 600;">
                            100% hàng thật
                        </div>

                    </div>

                    <div class="Divide_Mark"></div>


                    <div class="items">
                        <img src="~/Content/img/Approve_Icon2.png" alt="" style="height: 20px; width: 20px;">

                        <div style="color: #27272a; font-size: 15px;font-weight: 600;">
                            Hoàn trả 200% nếu hàng giả
                        </div>
                    </div>

                    <div class="Divide_Mark"></div>


                    <div class="items">
                        <img src="~/Content/img/Approve_Icon3.png" alt="" style="height: 20px; width: 20px;">

                        <div style="color: #27272a; font-size: 15px;font-weight: 600;">
                            30 ngày đổi trả
                        </div>
                    </div>

                    <div class="Divide_Mark"></div>


                    <div class="items">
                        <img src="~/Content/img/Approve_Icon4.png" alt="" style="height: 20px; width: 20px;">

                        <div style="color: #27272a; font-size: 15px;font-weight: 600;">
                            Giao nhanh 2h
                        </div>
                    </div>

                    <div class="Divide_Mark"></div>



                    <div class="items">
                        <img src="~/Content/img/Approve_Icon5.png" alt="" style="height: 20px; width: 20px;">

                        <div style="color: #27272a; font-size: 15px;font-weight: 600;">
                            Giá siêu rẻ
                        </div>
                    </div>

                    <div class="Divide_Mark"></div>



                    <div class="items">
                        <img src="~/Content/img/Approve_Icon6.png" alt="" style="height: 20px; width: 20px;">

                        <div style="color: #27272a; font-size: 15px;font-weight: 600;">
                            Freeship Mọi đơn hàng
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <!-- End Sologan_Layout -->







        s


        <!-- Begin Content -->
        <div id="Content">
            @RenderBody();
        </div>
        <!-- End Content -->


        <div id="footer">

        </div>
    </div>
</body>
</html>
